<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.oakland.petfoodtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MakeManagerActivity12"></activity>
        <activity android:name=".ManageMembersActivity11" />
        <activity android:name=".ManageHHActivity10" />
        <activity android:name=".FedPetManageActivity9" />
        <activity android:name=".FedPetActivity8" />
        <activity android:name=".FeedPetActivity7" />
        <activity android:name=".CreateHHSuccessActivity6" />
        <activity android:name=".CreateHHActivity5" />
        <activity android:name=".JoinHHFailActivity4" android:noHistory="true"/>
        <activity android:name=".JoinHHSuccessActivity3" android:noHistory="true"/>
        <activity android:name=".JoinHHActivity2" android:noHistory="true"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>